body {
    background: white;
}
#app {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas: "menu-panel content-panel";
    width: 100%;
    height: 100vh;
    .menu-panel {
        grid-area: menu-panel;
        background: #283eae;
        h1 {
            font-size: 60px;
            text-align: center;
            color: white;
            margin-bottom: 15px;
            padding: 0 15px;
        }
        nav {
            ul,
            li {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul {
                display: flex;
                justify-content: center;
                align-items: stretch;
                flex-direction: column;
                width: 100%;
                li {
                    width: 100%;
                    a {
                        display: block;
                        width: 100%;
                        padding: 10px 15px;
                        text-align: left;
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 100;
                        color: white;
                        &:hover {
                            background: #586bc9;
                        }
                    }
                }
            }
        }
    }
    .content-panel {
        grid-area: content-panel;
        max-height: 100vh;
        overflow-y: auto;
    }
}

.default-form {
    label {
        display: block;
        margin: 15px 0 -10px 15px;
    }
    input[type="text"]:read-only {
        color: #aaaaaa;
        pointer-events: none;
    }
    input[type="text"],
    select {
        width: calc(100% - 15px);
        padding: 10px 16px;
        border: 1px solid #aaaaaa;
        margin: 15px;
        font-size: 18px;
        text-align: left;
        color: black;
        outline: none;
        font-weight: 100;
    }
    select {
        padding: 9px 16px 10px 16px;
    }
    .text-area {
        label {
            margin-bottom: 5px;
        }
        #content {
            margin-left: 15px;
            border: 1px solid #aaaaaa;
        }
        .pell-actionbar {
            padding: 10px 0;
            button {
                font-size: 16px;
                width: 40px;
            }
        }
    }
    input[type="submit"] {
        margin-top: 15px;
        margin-left: 15px;
        border: none;
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 10px 32px;
    }
    input[type="file"] {
        margin: 15px;
        width: calc(100% - 30px);
        &::-webkit-file-upload-button {
            visibility: hidden;
        }
        &::before {
            content: "Wybierz plik";
            display: inline-block;
            border: 1px solid #999;
            padding: 12px 12px 11px 12px;
            outline: none;
            white-space: nowrap;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 100;
            font-size: 16px;
            margin-right: -80px;
            &:hover {
                border-color: black;
            }
            &:active {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
            }
        }
    }
    #images {
        width: calc(100% - 30px);
        height: 453px;
        margin-left: 15px;
        margin-top: 15px;
        border: 1px solid #aaaaaa;
    }
}

.content-table {
    width: 100%;
    border-spacing: 0;
    th {
        text-align: left;
    }
    tbody td {
        border-bottom: 1px solid #cccccc;
        padding: 5px 0;
        border-collapse: collapse;
    }
    tbody tr:hover td {
        background: #dddddd;
    }
}

.top-button-wrapper {
    padding: 0 15px 30px 15px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background: #283eae;
    font-weight: 100;
    text-decoration: none;
    &:hover {
        background: #586bc9;
    }
}
